body {
    display: flex;
    flex-basis: 100%;
}

.imgClass {
    display: flex;
}

h1 {
    display: flex;
    justify-content: center;
}

.errorMessage {
    color: red;
}

.allCountryBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1568px;
    max-height: 500px;
    flex-wrap: wrap;
    overflow: auto;
    flex-flow: wrap;
}

.mainSite {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
}

ul {
    display: flex;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listStyle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 0;
}